.backgroundSelect {
 @apply w-full flex flex-row justify-between items-center text-slate-500 font-semibold text-xl;
}

.flex-row-between-start {
 @apply flex-1 flex flex-row justify-between items-start space-x-2;
}

/* flex flex-col justify-start items-center */
.flex-col-start-center {
 @apply flex-1 flex flex-col justify-start items-center;
}
.flex-row-center-stretch {
 @apply flex-1 flex flex-row justify-center items-stretch space-x-4;
}
.flex-row-start-stretch {
 @apply flex-1 flex flex-row justify-start items-stretch space-x-4;
}

.flex-row-start-center {
 @apply flex-1 flex flex-row justify-start items-center space-x-2;
}
.flex-col-center-end {
 @apply flex-1 flex flex-col justify-center items-end space-y-2;
}

.flex-row-between-stretch {
 @apply flex-1 flex flex-row justify-between items-stretch space-x-4;
}

.flex-col-start-stretch {
 @apply flex-1 flex flex-col justify-start items-stretch space-y-4;
}

.flex-col-center-center {
 @apply flex-1 flex flex-col justify-center items-center space-y-4;
}

.flex-col-stretch-center {
 @apply flex-1 flex flex-col justify-stretch items-center space-y-4;
}

.flex-col-center-stretch {
 @apply flex-1 flex flex-col justify-center items-stretch space-y-4;
}

.flex-row-center-center {
 @apply flex-1 flex flex-row justify-center items-center space-x-4;
}

.flex-col-stretch-stretch {
 @apply flex-1 flex flex-col justify-stretch items-stretch space-y-4;
}

.flex-col-stretch-start {
 @apply flex-1 flex flex-col justify-stretch items-start space-y-4;
}

.flex-row-stretch-center {
 @apply flex-1 flex flex-row justify-stretch items-center  space-x-4;
}

.flex-row-between-center {
 @apply flex-1 flex flex-row justify-between items-center space-x-4;
}

.flex-row-reverese-between-center {
 @apply flex-1 flex flex-row-reverse justify-between items-center;
}

.flex-row-end-center {
 @apply flex-1 flex flex-row justify-end items-center space-x-4;
}

.windowSecundary {
 @apply p-8 w-full h-screen bg-slate-200 flex flex-col justify-stretch items-center space-y-4 overflow-scroll;
}
