@keyframes skeleton {
 0% {
  background-color: #ccc;
 }
 50% {
  background-color: #eeeeeebb;
 }
 100% {
  background-color: #ccc;
 }
}
.skeleton {
 animation: skeleton 3s ease-in-out 0.5s infinite;
}
