@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --foreground-rgb: 0, 0, 0;
 --background-start-rgb: 214, 219, 220;
 --background-end-rgb: 255, 255, 255;

 --color-primary: #e11d48; /* bg-rose-600 */
 --color-secondary: #e2e8f0; /* bg-slate-200 */
 --color-helper: #f1f5f9; /* bg-slate-100 */
 --color-dark: #334155; /* bg-slate-700 */
 --color-error: #9f1239; /* bg-rose-800 */
 --color-ligth: #f8fafc; /* bg-slate-50 */
}

@media (prefers-color-scheme: dark) {
 :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
 }
}

body {
 background-color: var(--bg-helper);
}

@import './css/form.css';
@import './css/layout.css';
@import './css/colors.css';
@import './css/buttons.css';
@import './css/headers.css';
@import './css/component.css';
@import './css/background.css';
@import './css/transition.css';
