@tailwind base;
@tailwind components;
@tailwind utilities;
@import './css/form.css';
@import './css/buttons.css';

:root {
 --foreground-rgb: 0, 0, 0;
 --background-start-rgb: 214, 219, 220;
 --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
 :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
 }
}

body {
 background-color: rgb(226, 232, 240);
}

.backgroundSelect {
 @apply w-full flex flex-row justify-between items-center text-slate-500 font-semibold text-xl;
}
/* flex flex-col justify-start items-center */
.flexColStartCenter {
 @apply flex-1 flex flex-col justify-start items-center;
}
.flexRowStart {
 @apply flex-1 flex flex-row justify-start items-stretch space-y-4;
}
.flexRowCenterStretch {
 @apply flex-1 flex flex-row justify-stretch items-center space-y-4;
}
.flexRowBetween {
 @apply flex-1 flex flex-row justify-between items-stretch space-x-4;
}
.flexColStart {
 @apply flex-1 flex flex-col justify-start items-stretch space-y-4;
}
.flexColCenter {
 @apply flex-1 flex flex-col justify-center items-center space-y-4;
}
.flexColCenterStretch {
 @apply flex-1 flex flex-col justify-center items-stretch space-y-4;
}
.flexCenter {
 @apply flex flex-row justify-center items-center space-x-4;
}
.windowSecundary {
 @apply p-8 w-full h-screen bg-slate-200 flex flex-col justify-stretch items-center space-y-4 overflow-scroll;
}
