@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --foreground-rgb: 0, 0, 0;
 --background-start-rgb: 214, 219, 220;
 --background-end-rgb: 255, 255, 255;

 --bg-primary: #e11d48; /* bg-rose-600 */
 --bg-secondary: #e2e8f0; /* bg-slate-200 */
 --bg-helper: #f1f5f9; /* bg-slate-100 */
 --bg-dark: #334155; /* bg-slate-700 */
}

@media (prefers-color-scheme: dark) {
 :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
 }
}

body {
 background-color: rgb(226, 232, 240);
}

@import './css/form.css';
@import './css/layout.css';
@import './css/colors.css';
@import './css/buttons.css';
@import './css/headers.css';
@import './css/background.css';
